.video__card{
    cursor: pointer;
    max-width: 18em;
    text-decoration: none;
    color: white;
}

.video__thumnail{
    width: 100%;
}

.thumnail__img{
    width: 100%
}

.author__img{
    height: 2em;
    border-radius: 50%;
}

.video__description{
    display: flex;
    gap: .5em;
}

.video__card:hover{
    color: #d1d1d1;
}

.video__detail > h5{
    font-size: .8em;
}

.author__name{
    font-size: .8em;
    color: #bbb9b9;
}